<div class="container"></div>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a href="" class="nav-link" routerLink="/home/bar-chart">Bar Chart</a>
  </li>
  <li class="nav-item">
    <a href="" class="nav-link" routerLink="/home/pie-chart">Pie Chart</a>
  </li>
  <li class="nav-item">
    <a href="" class="nav-link" routerLink="/home/linear-chart">Linear Chart</a>
  </li>
  <li class="nav-item">
    <a href="" class="nav-link" routerLink="/home/radar-chart">Radar Chart</a>
  </li>
</ul>

<div>
  <router-outlet></router-outlet>
</div>